html,body{
    height:100%;
    width:100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Optimizar para dispositivos móviles */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.home {
    width: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}